
@{
    Layout = null;
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Imprimir</title>
</head>
<body>
    <div align="center" style="width:100%; height:100%;"
    CR:CrystalReportViewer id="crViewer" ></div>
</body>
</html>
